* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { width: 100%; height: 100%; font-size: 16px; background: #eef0f2; }

.container { width: 100%; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.top-page { width: 100%; height: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: url("../../images/bg-pattern-intro.svg") right no-repeat, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54)); background: url("../../images/bg-pattern-intro.svg") right no-repeat, linear-gradient(left, #ff8f70, #ff3d54); background-size: 2800px, 100%; background-position-x: 30%, 0; background-repeat: no-repeat, no-repeat; border-bottom-left-radius: 80px; margin-bottom: 40px; padding: 0px 40px; }

.top-page .layout-menu { width: 100%; max-width: 1280px; height: 80px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0px 40px; }

.top-page .layout-menu img { margin-right: 16px; }

.top-page .layout-menu .logo { height: 40px; }

.top-page .layout-menu .menu-options { width: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; margin-left: 40px; }

.top-page .layout-menu .menu-options ul { width: 700px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; list-style: none; }

.top-page .layout-menu .menu-options ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.top-page .layout-menu .menu-options ul li .dropdown { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; border: none; outline: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: white; font-weight: 600; cursor: pointer; }

.top-page .layout-menu .menu-options ul li .dropdown:hover { text-decoration: underline; }

.top-page .layout-menu .menu-options ul li .dropdown img { margin-left: 16px; }

.top-page .layout-menu .menu-options ul li .dropdown .rotate { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.top-page .layout-menu .menu-options ul li a { text-decoration: none; color: white; font-weight: 600; }

.top-page .layout-menu .menu-options ul li .drop-menu { width: 130px; height: 150px; background-color: white; display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 16px; position: absolute; top: 80px; border-radius: 8px; }

.top-page .layout-menu .menu-options ul li .drop-menu a { color: black; font-weight: 500; }

.top-page .layout-menu .menu-options ul li .drop-menu a:hover { font-weight: bold; }

.top-page .layout-menu .login { width: 80%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.top-page .layout-menu .login a { text-decoration: none; height: 16px; color: white; margin-right: 24px; cursor: pointer; }

.top-page .layout-menu .login a:hover { font-weight: 700; }

.top-page .layout-menu .login button { -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: none; background: none; width: 120px; height: 40px; background-color: white; color: #ff3d54; border-radius: 16px; font-weight: 700; cursor: pointer; }

.top-page .layout-menu .login button:hover { color: white; background-color: #ffa3ae; }

.top-page .title-main { width: 100%; height: 200px; margin-top: 48px; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.top-page .title-main h1 { font-size: 40px; }

.top-page .title-main p { opacity: 0.8; }

.top-page .title-main .btn-main { width: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.top-page .title-main .btn-main button { width: 100px; height: 40px; border-radius: 16px; outline: none; border: none; cursor: pointer; }

.top-page .title-main .btn-main button:first-child { background-color: white; color: #ff3d54; font-weight: 700; }

.top-page .title-main .btn-main button:first-child:hover { color: white; background-color: #ffa3ae; }

.top-page .title-main .btn-main button:last-child { background-color: rgba(0, 0, 0, 0); border: 1px solid white; color: white; font-weight: 700; }

.top-page .title-main .btn-main button:last-child:hover { color: #ff3d54; background-color: white; }

.introducing { width: 100%; height: 900px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; }

.introducing h2 { width: 100%; height: 32px; text-align: center; margin-top: 94px; font-size: 32px; }

.introducing .content { width: 80%; max-width: 1280px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: -96px; }

.introducing .content .description { width: 500px; height: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.introducing .content .description div { width: 460px; height: 200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; line-height: 25px; text-align: left; }

.introducing .content .description div h3 { font-size: 24px; }

.introducing .content img { margin-left: 200px; }

.infrastructure { width: 100%; height: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-bottom-left-radius: 104px; border-top-right-radius: 104px; margin-top: 40px; background: url("/images/bg-pattern-circles.svg") center left no-repeat, black; background-position-x: -200px; background-position-y: -500px; }

.infrastructure .infra-container { width: 100%; max-width: 1280px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.infrastructure .infra-container img { height: 600px; }

.infrastructure .infra-container .infra-about { width: 410px; height: 200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; color: white; line-height: 25px; letter-spacing: 2px; margin-left: 80px; text-align: left; }

.about-blog { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 40px; }

.about-blog .container-about-blog { width: 100%; max-width: 1280px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.about-blog .container-about-blog img { margin-left: -420px; }

.about-blog .container-about-blog .description-about-blog { width: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; margin-left: 40px; }

.about-blog .container-about-blog .description-about-blog div { height: 200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; line-height: 25px; }

.bottom-page { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: auto; background-color: #25252d; border-top-right-radius: 80px; padding: 40px; position: relative; bottom: 0; }

.bottom-page footer { width: 100%; max-width: 1280px; height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: initial; -ms-flex-align: initial; align-items: initial; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 80px; }

.bottom-page footer img { height: 40px; }

.bottom-page footer .menu-bottom { height: 200px; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.bottom-page footer .menu-bottom ul { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 24px; }

.bottom-page footer .menu-bottom ul li { height: 30px; list-style: none; }

.bottom-page footer .menu-bottom ul li a { text-decoration: none; color: #c8c8cb; margin-bottom: 16px; height: 16px; }

.bottom-page footer .menu-bottom ul li a:hover { text-decoration: underline; }

.bottom-page .attribution { height: 40px; margin-top: 40px; position: relative; bottom: 0; color: white; }

.bottom-page .attribution a { text-decoration: none; color: white; }

.bottom-page .attribution a:first-child { font-weight: 300; opacity: 0.4; }

.bottom-page .attribution a:last-child { font-weight: 700; text-decoration: underline; }

.btn-mobile { outline: none; border: none; background-color: transparent; height: 60px; width: 60px; display: none; }

.btn-mobile img { width: 40px; height: 20px; }

.menu-mobile { display: none; }

@media (max-width: 920px) { .container .top-page .layout-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .container .top-page .layout-menu .menu-options { display: none; }
  .container .top-page .layout-menu .login { display: none; }
  .container .top-page .layout-menu .btn-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; }
  .container .top-page .layout-menu .menu-mobile { height: 350px; width: 250px; display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 24px; z-index: 2; opacity: 0; margin-top: 350px; background-color: white; border-radius: 16px; -webkit-transition: all 1s; transition: all 1s; }
  .container .top-page .layout-menu .menu-mobile ul { width: 250px; height: 300px; }
  .container .top-page .layout-menu .menu-mobile ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .container .top-page .layout-menu .menu-mobile ul li button { width: 100%; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: transparent; outline: none; border: none; margin-bottom: 16px; font-weight: 700; }
  .container .top-page .layout-menu .menu-mobile ul li button img { width: 10px; height: 8px; margin-left: 8px; }
  .container .top-page .layout-menu .menu-mobile ul li .mobile-drop { width: 80%; height: 150px; display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-radius: 16px; background-color: #eef0f2; padding: 8px; }
  .container .top-page .layout-menu .menu-mobile ul li .mobile-drop a { text-decoration: none; color: #1f3f5b; } }

@media (max-width: 850px) { .container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .container .introducing { height: auto; }
  .container .introducing h2 { margin-top: 0px; margin-bottom: 180px; }
  .container .introducing .content { margin-top: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .introducing .content .description { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .container .introducing .content .description div { width: 280px; margin-bottom: 80px; }
  .container .introducing .content img { height: 350px; margin: 0; }
  .container .infrastructure { height: 700px; }
  .container .infrastructure .infra-container { height: auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .container .infrastructure .infra-container img { height: 350px; }
  .container .infrastructure .infra-container .infra-about { width: 280px; }
  .container .infrastructure .infra-container .infra-about h2 { width: 100%; margin-bottom: 16px; }
  .container .about-blog .container-about-blog { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 16px; }
  .container .about-blog .container-about-blog img { margin: 0; height: 300px; }
  .container .about-blog .container-about-blog .description-about-blog { width: 100%; margin: 0; }
  .container .about-blog .container-about-blog .description-about-blog div { width: 280px; margin-bottom: 40px; }
  .container .about-blog .container-about-blog .description-about-blog div:first-child h2 { margin: 20px 0; } }

@media (max-width: 610px) { .container .top-page .title-main h1 { font-size: 24px; text-align: center; }
  .container .top-page .title-main p { margin: 8px 0; text-align: center; }
  .container .top-page .title-main .btn-main { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .top-page .title-main .btn-main button:first-child { margin-bottom: 8px; } }

@media (max-width: 500px) { .bottom-page { height: 900px; }
  .bottom-page footer { height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .bottom-page footer img { height: 64px; margin-bottom: 16px; }
  .bottom-page footer .menu-bottom { width: 100px; -webkit-box-align: left; -ms-flex-align: left; align-items: left; margin-bottom: 16px; } }
/*# sourceMappingURL=main.css.map */