.infrastructure {
  width: 100%;
  height: 400px;


  display: flex;
  align-items: center;
  justify-content: center;


  border-bottom-left-radius: 104px;
  border-top-right-radius: 104px;

  margin-top: 40px;

  background:  url("/images/bg-pattern-circles.svg") center left no-repeat, black;
  background-position-x: -200px;  
  background-position-y: -500px;  

  .infra-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    

    .infra-about {
      width: 410px;
      height: 200px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      color: white;

      line-height: 25px;
      letter-spacing: 2px;
      margin-left: 80px;

      text-align: left;
    }
  }
}