.btn-mobile {
  outline: none;
  border: none;
  background-color: transparent;
  

  height: 60px;
  width: 60px;

  display: none;

  img {
    width: 40px;
    height: 30px !important;
  }
}

.menu-mobile {
  display: none;
}



@media (max-width: 920px) {
  .container{
    .top-page {
      .layout-menu {

        display: flex;
        justify-content: space-between;
        .menu-options  {
          display: none;
        }
        .login{
          display: none;
        }

        .btn-mobile {
          display: flex;
          margin-top: 24px;
        }

        .menu-mobile{
          display: flex;
          position: absolute;
          top: 100px;
          right: 25%;
          z-index: 10;

          background-color: white;
          ul {
            width: 350px;
            height: 300px;
            li{
              
              display: flex;
              flex-direction: column;
              align-items: center;

              & button {
                width: 100%;
                height: 24px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                outline: none;
                border: none;

                & img {
                  
                  margin: 0;
                }
              }
              .mobile-drop {
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                border-radius: 16px;

                background-color: grey;

                display: none;
              }
            }
          }
        }

      }
    }
  }

}