// Div top-pag

.top-page {
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../../images/bg-pattern-intro.svg") right no-repeat,
    linear-gradient(left, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: 2800px, 100%;
  background-position-x: 30%, 0;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: 80px;

  margin-bottom: 40px;

  padding: 0px 40px;



  // Div .layout-menu

  .layout-menu {
    width: 100%;
    max-width: 1280px;

    height: 80px;

    display: flex;
    align-items: center;

    margin: 0px 40px;

    img {
      margin-right: 16px;
    }
    .menu-options {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      margin-left: 40px;

      ul {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        li {
          display: flex;
          flex-direction: column;
          .dropdown {
            appearance: none;
            background: none;
            border: none;
            outline: none;

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
            font-weight: 600;

            cursor: pointer;

            img {
              margin-left: 16px;
            }
          }

          a {
            text-decoration: none;
            color: white;
            font-weight: 600;
          }

          .drop-menu {
            width: 130px;
            height: 150px;

            background-color: white;

            display: none;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            padding: 16px;

            position: absolute;

            top: 80px;

            border-radius: 8px;

            a {
              color: black;
              font-weight: 500;
            }
          }
        }
      }
    }

    .login {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        text-decoration: none;

        color: white;
        margin-right: 24px;

        cursor: pointer;
      }

      button {
        appearance: none;
        outline: none;
        border: none;
        background: none;

        width: 100px;
        height: 40px;

        background-color: white;

        color: hsl(353, 100%, 62%);

        border-radius: 16px;

        font-weight: 700;
      }
    }
  }

  // Div .title-main
  .title-main {
    width: 100%;
    height: 200px;

    margin-top: 48px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 40px;
    }

    p {
      opacity: 0.8;
    }

    .btn-main {
      width: 300px;
      display: flex;

      align-items: center;
      justify-content: space-around;

      button {
        width: 100px;
        height: 40px;

        border-radius: 16px;

        outline: none;
        border: none;

        cursor: pointer;
        &:first-child {
          background-color: white;
          color: hsl(353, 100%, 62%);
          font-weight: 700;
        }

        &:last-child {
          background-color: rgba(black, 0.0);
          border: 1px solid white;

          color: white;
          font-weight: 700;
        }
      }
    }
  }
}
