.about-blog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 40px;

  .container-about-blog {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      margin-left: -420px;
    }

    .description-about-blog {
      width: 400px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      margin-left: 40px;
      div {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 25px;
      
      }

      
    }
  }

}